/*hora de adicionar responsividade! :)*/

@media (max-width: 1048px) {
  /* Mudamos o seletor para ganhar do CSS geral */
  #banner_historia img {
      width: 100%;        /* Faz a imagem ocupar a largura disponível na tela menor */
      max-width: 400px;   /* Define um tamanho limite para ela não ficar gigante */
      height: auto;       /* Mantém a proporção correta sem achatar a foto */
      object-fit: contain;
      border: solid 20px red; /* Sua borda de teste vai continuar funcionando */
  }
}

/*________________________________________________*/
*{
    margin:0;
    padding: 0;
    box-sizing: 0;
}

:root{
    --cor_base_cards: #FFF;
    --cor_fundo_pagina: #F8F9FB;
    --cor_amarelo: #FDDA04;
    --cor_azul: #0199F1;
    --cor_vermelho: #F91030;
    --cor_rosa_pastel: #FFC8C8;
    --cor_amarelo_pastel: #FFFEC5;
    --cor_azul_pastel:#B8E5FF;
    
}
main{
    background-color: var(--cor_fundo_pagina);
    padding: 20px;
}
#primeiro_menu{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    color:white;
    background-color: var(--cor_azul);
}
#primeiro_menu a {
    text-decoration: none;
    color: #FFFF;
}
#segundo_menu{
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}
#img_logo{
    height: 150px;
    
}
.conteiners_principais h2{
    text-align: center;
    margin-bottom: 20px;
}

#historia{
    background-color: var(--cor_base_cards);
    padding: 20px;
    margin-bottom: 40px;
}
#projetos{
   background-color:var(--cor_base_cards);
    padding: 20px;
    margin-bottom: 40px;
}
#banner_historia{
    display: flex;
    /*height: 400px;*/
}
 #banner_historia img{
    width: 600px;
    height: auto;
    object-fit:contain;
 }

#texto_section_historia{
    padding: 0px 20px 0px 20px;
}

#conteiner_card_projetos{
    display: flex;
    flex-wrap:wrap;
}
.card_projeto{
    background-color: var(--cor_azul_pastel);
    padding: 50px;
    gap: 20px;
    width: 445px;
    border-radius: 20px;
    
}
 .card_projeto img{
    height: 300px;
    border-radius: 20px;
 }

 #conteiner_card_projetos{
    display:flex;
    justify-content: space-around;
 }

 .conteudo_baner{display: flex;}
 .conteudo_baner img{
    height: 480px;
}

#baner_linha1{
    background-color: var(--cor_rosa_pastel);
}
#baner_linha2{
    background-color: var(--cor_amarelo_pastel);
}

footer{
    background-color: var(--cor_azul);
    color:var(--cor_base_cards);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}